<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<p class="fw-light"> Our blog has <b><%= Post.public_count %></b> articles and counting! </p>
<div id="posts">
  <% @posts.each do |post| %>
    <% unless post.archived? %>
      <%= render post %>
      <button class="btn btn-info mb-2">
        <%= link_to "Show this post", post, :class=>"text-reset text-decoration-none"%>
      </button>
    <% end %>
  <% end %>
</div>

<button class="btn btn-success mb-2">
  <%= link_to "New post", new_post_path, :class=>"text-reset text-decoration-none"%>
</button>
