<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<p> Our blog has <%= Post.public_count %> articles and counting! </p>
<div id="posts">
  <% @posts.each do |post| %>
    <% unless post.archived? %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
